/* ✅✅✅ 🛑🛑🛑🛑🛑🛑☝🏾DEFAULT☝🏾🛑🛑🛑🛑🛑🛑 */
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
li {

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


:root {
    --black: #000000;
    --modal-background: #FCFCFC;
    --background: #e5e5e5;
    --background-white: #FFFFFF;
    --background-seecon: #2E2F42;
    --background-primary: #F4F4FD;
    --iris: #4D5AE5;
    --slate: #434455;
    --CORNFLOWER: #E7E9FC;
    --hover: #404BBF;
    --LIGHTSLATE: #8E8F99;
    --green: #31D0AA;
    --hover-style: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;


}

.section {
    padding-bottom: 96px;
    padding-top: 96px;
}

.container {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    background-color: var(--background-white);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ❌❌❌ 🛑🛑🛑☝🏾DEFAULT☝🏾🛑🛑🛑 */


/* ✅✅✅ ⭕️⭕️⭕️⭕️ NAVIGATION ⭕️⭕️⭕️⭕️ */

.header {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
}

.logo-continuation {
    color: var(--background-seecon);
}

/* ❌❌❌ ⭕️⭕️ NAVIGATION ⭕️⭕️ */


/* ✅✅✅ 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ HERO 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ */


.hero {
    flex-direction: column;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.hero-box {
    flex-direction: column;
}

.hero-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: var(--background-white);
}

.order-service {
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    min-width: 169px;
    color: var(--background-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.order-service:hover,
.order-service:focus {
    background-color: var(--hover);
}

/* ❌❌❌ 🦸‍♂️🦸‍♂️🦸‍♂️ HERO 🦸‍♂️🦸‍♂️🦸‍♂️ */


/* ✅✅✅ 🪢🪢🪢🪢🪢🪢 FEATURE 🪢🪢🪢🪢🪢🪢 */

.fix-margin {
    padding-bottom: 0;
}

.feature {
    padding-top: 0;
}

.feature-header {
    display: flex;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--background-seecon);
    margin-bottom: 8px;
}

.feature-paragraf {
    font-weight: 500;
}

.fearure-icon-box {
    display: none;
}

/* ❌❌❌ 🪢🪢🪢 FEATURE 🪢🪢🪢 */


/* ✅✅✅ 💥💥💥💥💥💥💥💥💥💥💥💥💥💥 WORKS 💥💥💥💥💥💥💥💥💥💥💥💥💥💥 */

.works {
    display: none;
    padding-top: 0;
}

/* ❌❌❌ 💥💥💥 WORKS 💥💥💥 */


/* ✅✅✅ 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ CREW 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ */
.items-header {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-seecon);
    margin-bottom: 72px;
}

.crew.list {
    flex-direction: column;
}

.section.crew {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-primary);
}

.crew-box {
    flex-direction: column;

}

.crew-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--background-seecon);
    margin-bottom: 8px
}


.crew-item {
    background-color: var(--background-white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.crew-box-name {
    padding: 32px 0;
}

.crew-spec {
    text-align: center;
    margin-bottom: 8px;
}

/* ❌❌❌ 🧝‍♂️🧝‍♂️🧝‍♂️ CREW 🧝‍♂️🧝‍♂️🧝‍♂️ */


/* ✅✅✅ 🎹🎹🎹🎹🎹🎹 CUSTOMERS 🎹🎹🎹🎹🎹🎹 */
.cust-items-header {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}

.customers-items {
    flex-wrap: wrap;
    justify-content: space-between;

}

.link-customers {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--LIGHTSLATE);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-customers:hover,
.link-customers:focus {
    border-color: var(--hover);
    color: var(--hover);
}

.customers-item {
    justify-content: center;
    width: 190px;
    height: 88px;
    margin-bottom: 72px;
}

.customers-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.costumer-svg {
    fill: currentColor;
}

/* ❌❌❌ 🎹🎹🎹 CUSTOMERS 🎹🎹🎹 */

/* ✅✅✅ 🔥🔥🔥🔥🔥🔥 FOOTER 🔥🔥🔥🔥🔥🔥 */

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-link {
    margin-right: 0;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}

.footer {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--background-seecon);
}

.footer-logo-box {
    margin-bottom: 72px;
}

.white {
    color: var(--background-primary);
}

.footer-text {
    max-width: 268px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-primary);
}

.footer-text.social {
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--background-white)
}

.footer-icon-box {
    margin-bottom: 72px;
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--green);
}

.footer-list-icon {
    gap: 16px;
}

.footer-icon {
    fill: var(--background-primary);
}

.subscribe-text {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-white);
}

.footer-form-box {
    width: 100%;
}

.footer-form {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.footer-form-label {
    width: inherit;
}

.footer-form-input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    opacity: 0.3;
    color: var(--background-white);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

}

.footer-form-input::placeholder {
    color: var(--background-white);
}

.footer-btn-sub {
    justify-content: center;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background-white);
    background-color: var(--iris);
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-sub:is(:hover, :focus) {
    background-color: var(--hover);
}

.footer-form-svg {
    margin-left: 16px;
    fill: var(--background-white);
}

/* ❌❌❌ 🔥🔥🔥 FOOTER 🔥🔥🔥 */


/* ✅✅✅ 🥩🥩🥩🥩🥩🥩PORTFOLIO 🥩🥩🥩🥩🥩🥩 */

.batton-clasik {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--iris);
    border: 1px solid var(--CORNFLOWER);
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    background-color: var(--background-primary);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.batton-clasik:hover,
.batton-clasik:focus {
    background-color: var(--hover);
    color: var(--background-white);
    border: 1px solid;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:not(:last-child) {
    margin-right: 24px;
}

.servises-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    /* NAVY BLUE */
    color: var(--background-seecon);
}

.servises-paragraf {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
    color: var(--slate);
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter {
    flex-direction: column;
}

.filter-battons {
    flex-direction: row;
    margin-bottom: 72px;
    border: none;
    justify-content: center;
}

.filter-items {
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
}

.filter-item {
    width: 360;
}

.filter-item-box {

    padding: 32px 16px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    transition: border-left 250ms cubic-bezier(0.4, 0, 0.2, 1), border-right 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item-box:hover,
.filter-item-box:focus {
    border-left: 1px solid var(--background-primary);
    border-right: 1px solid var(--background-primary);
    border-bottom: 1px solid var(--background-primary);
}

.filter-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover,
.filter-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ❌❌❌ 🥩🥩🥩 PORTFOLIO 🥩🥩🥩 */


/** ✅✅✅ 🍔🍔🍔🍔🍔🍔 ICON 🍔🍔🍔🍔🍔🍔 **/


.crew-list-icon {
    justify-content: center;
    gap: 24px;
}

.crew-icons {
    display: flex;

}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-link:hover,
.icon-link:focus {
    background-color: var(--hover);
}

.crew-icon {
    fill: var(--background-primary);
}

/** ❌❌❌ 🍔🍔🍔 ICON 🍔🍔🍔 **/





/* ✅✅✅ 🌎 🌍 🌏 🌎 🌍 🌏  OVERLAY  🌎 🌍 🌏 🌎 🌍 🌏 */

.filter-overlay {
    position: relative;
    overflow: hidden;

}

.paragraf-overlay {
    letter-spacing: 0.02em;
    position: absolute;
    /* top: 0;
    left: 0; */
    color: var(--background-primary);
    background-color: var(--iris);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow-x: scroll;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover .paragraf-overlay,
.filter-link:focus .paragraf-overlay {
    transform: translate(0, 0);
}

/* ❌❌❌ 🌎 🌍 🌏 OVERLAY 🌎 🌍 🌏 */


/* ✅✅✅ 🏙🏙🏙🏙🏙🏙 MODAL WINDOWS 🏙🏙🏙🏙🏙🏙 */

/* ✅✅🐣🐣🐣🐣 Index 🐣🐣🐣🐣 */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px;
    transition: transform 2000ms;
}

.backdrop.is-hidden .modal-window {
    transform: scale(0);
    transition: transform 2000ms;
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    background-color: var(--CORNFLOWER);
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-close:is(:hover, :focus) {
    background-color: var(--hover);
    border: none;
}

.btn-close:is(:hover, :focus) .icon-btn-close {
    fill: var(--background-white);
}

.icon-btn-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ❌❌ 🐣🐣 Index 🐣🐣*/
.modal-title {
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-input-box {
    margin-bottom: 8px;
}



.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHTSLATE);
    margin-bottom: 4px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    color: var(--black);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: var(--iris);
    outline: none;
}

.modal-form-input:focus+.input-svg {
    fill: var(--iris);
}

.input-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--background-seecon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-img-box {
    position: relative;
}

.modal-teextarea-box {
    margin-bottom: 16px;
}

.modal-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.modal-textarea:focus {
    outline: none;
    border-color: var(--iris);
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-box {
    margin-bottom: 24px;
}


.modal-polycy-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHTSLATE);
}

.fake-checkbox:focus {
    background-color: var(--hover);
    fill: var(--background-primary);
}

.fake-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 16px;
    height: 16px;
    border-radius: 2px;
    display: inline-flex;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);

}

/* .modal-polycy-text::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
} */

.modal-checkbox:checked+.modal-polycy-text>.fake-checkbox {
    background-color: var(--hover);
    border: none;
    fill: var(--background-white);
    border-color: var(--hover)
}


.checkbox-img {
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.checkbox-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--iris);
}

/* 
.modal-checkbox:focus+.modal-polycy-text::before {
    outline: 1px solid rgba(46, 47, 66, 0.4);
} */

.modal-btn-send {
    display: block;
    align-self: center;
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    min-width: 169px;
    height: 56px;
    color: var(--background-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: var(--hover);
}


/* ✅✅✅ 🧲🧲🧲🧲🛢🛢🛢🛢🟦🟦🟦🟦 ADAPTIVE 🟦🟦🟦🟦🧲🧲🧲🧲🛢🛢🛢🛢 */



/* 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 */
/* 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 */
/* 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 */
/* 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 */
/* ✅✅✅ 🟥🟦🟦🟦🟦 MOBILE 🟦🟦🟦🟦 */


@media screen and (min-width:280px),
screen and (max-width:767px) {
    .container {
        width: 428px;
    }

    .hero {
        width: 428px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/m-bg.jpg);
        padding: 112px 0 112px;
    }

    @media screen and (min-devise-pixel-ratio:2) and (max-width:767px),
    screen and (min-resolution: 192dpi) and (max-width:767px),
    screen and (min-resolution: 2dppx) and (max-width:767px) {
        .hero {
            width: 428px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/m-bg@2x.jpg);

        }
    }

    .hero-header {
        font-size: 36px;
        line-height: 1.11;
        max-width: 320px;
    }

    .order-service {
        margin-top: 72px;
    }

    .nav-items {
        display: none;
    }

    .address {
        display: none;
    }

    /* ✅✅✅ 🪢🪢🪢🪢🪢🪢 FEATURE 🪢🪢🪢🪢🪢🪢 */
    .feature {
        flex-direction: column;
    }

    .feature-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .feature-header {
        justify-content: center;
    }

    /* ✅✅✅ 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ CREW 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ */
    .crew-item:not(:last-child) {
        margin-bottom: 72px;
    }

    /* 💥💥💥💥💥💥MOBILE MENU💥💥💥💥💥💥 */
    .nav {
        padding: 24px 0 24px;
    }

    .mobile-menu.container {
        padding-left: 40px;
        padding-right: 35px;
    }

    .burger-menu-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
    }

    .burger-btn-box {

        position: absolute;
        top: 24px;
        right: 16px;
        /* margin-left: auto; */
        /* padding-top: 24px;
    padding-bottom: 24px; */
    }

    .burger-icon {
        stroke: var(--background-seecon);
        transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .burger-icon:is(:hover, :focus) {
        stroke: var(--green);
        transform: scale(1.2);
    }

    .mobile-menu-box {
        position: fixed;
        top: 0;
        left: auto;
        right: auto;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .is-open {
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu {
        position: absolute;
        width: 428px;
        height: 796px;
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .mobile-icon-close {

        /* fill: var(--background-seecon);
    opacity: 1; */
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-btn-close:is(:hover, :focus) .mobile-icon-close {
        fill: var(--background-white);
    }

    .mobile-btn-close {
        position: absolute;
        top: 24px;
        right: 20px;
        justify-content: center;
        background-color: rgba(231, 233, 252, 0.1);
        padding: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid rgba(46, 47, 66, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .mobile-btn-close:is(:hover, :focus) {
        background-color: var(--hover);
        border: none;
        opacity: 1;
        /* transform: scale(1.2); */

    }

    /* burger menu*/
    .mobile-nav-items {
        padding-top: 80px;
        /* margin-bottom: 284px; */
    }

    .mobile-nav-link {
        position: relative;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--background-seecon);
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;
    }

    .mobile-nav-item:not(:last-child) {
        margin-bottom: 80px;
    }

    .burger-address-box {
        position: absolute;
        bottom: 40px;

    }

    .mobile-addreess-items {
        margin-bottom: 48px;
    }

    .mobile-address-item {
        font-style: normal;
        margin-bottom: 40px;
    }

    .burger-phone {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--iris);
    }

    .burger-phone:is(:hover, :focus),
    .burger-mail:is(:hover, :focus) {
        color: var(--hover);
    }

    .burger-mail {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--background-seecon);
    }

    .mobile-list-icon {
        gap: 56px;
    }

}




/* ❌❌❌ 🟥🟦🟦 MOBILE 🟦🟦 */



/* 🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥 */
/* 🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥 */
/* 🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥 */
/* 🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥🖥 */

/* ✅✅✅ 🟪🟦🟦🟦🟦 TABLET 🟦🟦🟦🟦 */


@media screen and (min-width:768px) {

    .container {
        width: 768px;
    }

    /* ✅✅✅ ⭕️⭕️⭕️⭕️ NAVIGATION TABLET ⭕️⭕️⭕️⭕️ */

    .header {
        width: 768px;
    }

    .nav {
        padding: 0;
    }

    .nav-items {
        display: flex;
    }

    .nav-item:not(:last-child) {
        margin-right: 40px;
    }

    .nav-link {

        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--background-seecon);
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;
    }

    .nav-link.current {
        color: var(--hover);
    }

    .current:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--hover);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--hover);
    }

    .address {
        display: block;
        margin-left: auto;
    }

    .address-items {

        display: block
    }


    .address-link {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: var(--hover);
    }


    .address-item:not(:last-child) {
        margin-bottom: 12px;
    }

    .burger-btn-box {
        display: none;
    }

    /* ❌❌❌ ⭕️⭕️ NAVIGATION TABLET⭕️⭕️ */
    /* ✅✅✅ 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ HERO TABLET 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ */
    .hero {
        width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/tablet-bg.jpg);
    }

    @media screen and (min-devise-pixel-ratio:2) and (min-width:768px),
    screen and (min-resolution: 192dpi) and (min-width:768px),
    screen and (min-resolution: 2dppx) and (min-width:768px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/tablet-bg@2x.jpg);
        }
    }

    .hero-header {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .order-service {
        margin-top: 36px;
    }

    /* ❌❌❌ 🦸‍♂️🦸‍♂️🦸‍♂️ HERO TABLET🦸‍♂️🦸‍♂️🦸‍♂️ */
    /* ✅✅✅ 🪢🪢🪢🪢🪢🪢 FEATURE TABLET 🪢🪢🪢🪢🪢🪢 */
    .feature {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .feature-header {
        justify-content: start;
    }

    .feature-item:nth-child(2n+1) {
        margin-right: 24px;
    }

    .feature-item:nth-last-child(-n+2) {
        margin-bottom: 0;

    }

    .feature-item {
        flex-basis: 356px;
    }

    /* ✅✅✅ 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ CREW TABLET🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ */
    .crew.list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section.crew {
        width: 768px;
    }

    .crew {
        gap: 24px;
    }

    .crew-item:not(:last-child) {
        margin-bottom: 64px;
    }

    .crew-item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    /* ❌❌❌ 🧝‍♂️🧝‍♂️🧝‍♂️ CREW TABLET🧝‍♂️🧝‍♂️🧝‍♂️ */
    /* ✅✅✅ 🎹🎹🎹🎹🎹🎹 CUSTOMERS TABLET🎹🎹🎹🎹🎹🎹 */
    .customers.container {
        width: 582px;
    }

    .customers-item {
        width: 168px;
    }

    .customers-item:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    /* ❌❌❌ 🎹🎹🎹 CUSTOMERS TABLET🎹🎹🎹 */
    /* ✅✅✅ 🔥🔥🔥🔥🔥🔥 FOOTER TABLET🔥🔥🔥🔥🔥🔥 */
    .footer-box {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }

    .footer-link {
        justify-content: start;
    }

    .footer-text.social {
        text-align: start;
        margin-bottom: 16px;
    }

    .footer-icon-box {
        margin: 0 0 0 24px;
    }

    .footer-box.container {
        width: 582px;
    }

    .footer {
        width: 768px;
    }

    .subscribe-text {
        text-align: start;
    }

    .footer-form {
        display: flex;
        justify-content: start;
    }

    .footer-form-label {
        width: 264px;
    }

    .footer-form-input {
        margin-bottom: 0;
    }

    .footer-btn-sub {
        margin: 0 0 0 24px;
    }
}



/* ❌❌❌ 🟪🟦🟦 TABLET 🟦🟦 */

/* 💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻 */
/* 💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻 */
/* 💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻 */
/* 💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻 */
/* 💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻 */
/* 💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻💻 */

/* ✅✅✅ 🟩🟦🟦🟦🟦 DESCTOP 🟦🟦🟦🟦 */
@media screen and (min-width:1158px) {
    .burger-btn-box {
        display: none;
    }

    /* ❌❌❌ 🛑🛑🛑☝🏾DEFAULT DESCTOP☝🏾🛑🛑🛑 */

    .section {
        min-width: 1440px;
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .container {
        width: 1158px;
    }

    /* ✅✅✅ ⭕️⭕️⭕️⭕️ NAVIGATION DESCTOP⭕️⭕️⭕️⭕️ */


    .header {
        width: 1440px;
    }

    .nav-item:not(:last-child) {
        margin-right: 40px;
    }

    .address-item:not(:last-child) {
        margin-right: 40px;
        margin-bottom: 0;
    }

    .address-items {
        display: flex
    }

    .mail-box {
        margin-left: auto;
    }

    /* ❌❌❌ ⭕️⭕️ NAVIGATION DESCTOP⭕️⭕️ */

    /* ✅✅✅ 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ HERO DESCTOP🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ */

    .hero {
        width: 1440px;
        padding: 188px 0 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/heroback.jpg);
    }

    @media screen and (min-devise-pixel-ratio:2) and (min-width:1158px),
    screen and (min-resolution: 192dpi) and (min-width:1158px),
    screen and (min-resolution: 2dppx) and (min-width:1158px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/heroback@2x.jpg);
        }
    }

    .order-service {
        margin-top: 48px;
    }

    /* ❌❌❌ 🦸‍♂️🦸‍♂️🦸‍♂️ HERO DESCTOP🦸‍♂️🦸‍♂️🦸‍♂️ */

    /* ✅✅✅ 🪢🪢🪢🪢🪢🪢 FEATURE DESCTOP🪢🪢🪢🪢🪢🪢 */
    .fearure-icon-box {
        display: flex;
    }

    .fearure-icon-box {
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        background-color: var(--background-primary);
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .feature-item {
        flex-basis: 264px;
    }

    .feature-item:not(:last-child) {
        margin-right: 24px;
        margin-bottom: 0;
    }

    .feature-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    /* ❌❌❌ 🪢🪢🪢 FEATURE DESCTOP🪢🪢🪢 */

    /* ✅✅✅ 💥💥💥💥💥💥💥💥💥💥💥💥💥💥 WORKS DESCTOP💥💥💥💥💥💥💥💥💥💥💥💥💥💥 */

    .works {
        display: block;
        padding-top: 0;
    }

    .works-item {
        justify-content: center;
    }

    .works-item:first-child {
        flex-basis: calc((100% - 3 * 16px) / 3)
    }

    .we-doing:not(:last-child) {
        margin-right: 24px;
    }

    /* ❌❌❌ 💥💥💥 WORKS DESCTOP💥💥💥 */

    /* ✅✅✅ 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ CREW DESCTOP 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ */
    .section.crew {
        width: 1440px;
        background-color: var(--background-primary);
    }

    .crew {
        gap: 0;
    }

    .crew-item:not(:last-child) {
        margin-right: 24px;
        margin-bottom: 0;
    }

    /* ❌❌❌ 🧝‍♂️🧝‍♂️🧝‍♂️ CREW DESCTOP🧝‍♂️🧝‍♂️🧝‍♂️ */

    /* ✅✅✅ 🎹🎹🎹🎹🎹🎹 CUSTOMERS DESCTOP🎹🎹🎹🎹🎹🎹 */

    .customers.container {
        width: 1158px;
    }

    .customers-items {
        justify-content: center;
        gap: 24px;
    }

    .customers-item {
        margin-bottom: 0;
    }

    /* ❌❌❌ 🎹🎹🎹 CUSTOMERS DESCTOP🎹🎹🎹 */

    /* ✅✅✅ 🔥🔥🔥🔥🔥🔥 FOOTER DESCTOP🔥🔥🔥🔥🔥🔥 */
    .footer-box.container {
        width: 1158px;
    }

    .footer-box {
        flex-wrap: nowrap;
    }

    .footer-link {
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer {
        width: 1440px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-form-box {
        width: 453px;
    }

    .footer-logo-box {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-icon-box {

        margin: 0 80px 0 0;
    }

    .footer-icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--iris);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .footer-icon-link:hover,
    .footer-icon-link:focus {
        background-color: var(--green);
    }

    .footer-list-icon {
        gap: 16px;
    }

    .footer-icon {
        fill: var(--background-primary);
    }

    .subscribe-text {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--background-white);
    }

    .footer-form {
        display: flex;
    }

    .footer-form-label {
        margin-right: 24px;
    }

    .footer-form-input {
        width: 264px;
        height: 40px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        padding-left: 16px;
        font-size: 12px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--background-white);
        border: 1px solid #ffffff
    }

    .footer-form-input::placeholder {
        color: var(--background-white);
    }

    .footer-btn-sub {
        justify-content: center;
        min-width: 165px;
        height: 40px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--background-white);
        background-color: var(--iris);
        border-radius: 4px;
        border: none;
    }

    .footer-btn-sub:is(:hover, :focus) {
        background-color: var(--hover);
    }

    .footer-form-svg {
        margin-left: 16px;
        fill: var(--background-white);
    }

    /* ❌❌❌ 🔥🔥🔥 FOOTER DESCTOP🔥🔥🔥 */
    /* ✅✅✅ 🥩🥩🥩🥩🥩🥩PORTFOLIO 🥩🥩🥩🥩🥩🥩 */

    .batton-clasik {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        cursor: pointer;
        color: var(--iris);
        border: 1px solid var(--CORNFLOWER);
        border-radius: 4px;
        padding: 12px 24px 12px 24px;
        background-color: var(--background-primary);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .batton-clasik:hover,
    .batton-clasik:focus {
        background-color: var(--hover);
        color: var(--background-white);
        border: 1px solid;
        border-color: transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .filter-btn:not(:last-child) {
        margin-right: 24px;
    }

    .servises-name {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        /* NAVY BLUE */
        color: var(--background-seecon);
    }

    .servises-paragraf {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--slate);
        color: var(--slate);
    }

    .section-portfolio {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .filter {
        flex-direction: column;
    }

    .filter-battons {
        flex-direction: row;
        margin-bottom: 72px;
        border: none;
        justify-content: center;
    }

    .filter-items {
        flex-wrap: wrap;
        align-items: center;
        column-gap: 24px;
        row-gap: 48px;
    }

    .filter-item {
        width: 360;
    }

    .filter-item-box {

        padding: 32px 16px;
        border-left: 1px solid #E7E9FC;
        border-right: 1px solid #E7E9FC;
        border-bottom: 1px solid #E7E9FC;
        transition: border-left 250ms cubic-bezier(0.4, 0, 0.2, 1), border-right 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .filter-item-box:hover,
    .filter-item-box:focus {
        border-left: 1px solid var(--background-primary);
        border-right: 1px solid var(--background-primary);
        border-bottom: 1px solid var(--background-primary);
    }

    .filter-link {
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .filter-link:hover,
    .filter-link:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    /* ❌❌❌ 🥩🥩🥩 PORTFOLIO 🥩🥩🥩 */


}

/* ❌❌❌ 🟩🟦🟦 DESCTOP 🟦🟦 */
/* ❌❌❌ 🧲🧲🛢🛢 ADAPTIVE 🧲🧲🛢🛢 */